<div class="of_about_wrapper" style="background-image: none">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ch_heading_wrapper">
          <h1 style="color: black;">Смена пароля</h1>
        </div>
      </div>
      <div class="about_section">
        <div class="container">
          <br>
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h4 style="color: black;>Редактировать <%= resource_name.to_s.humanize %></h4>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control'%>
                    </div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <div class="form-group">
                      <%= f.label "Пароль" %> <i>(Отсавьте данное поле пустым, если не хотите менять его)</i><br />
                      <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control'%>
                      <% if @minimum_password_length %>
                        <br/>
                        <em><%= @minimum_password_length %> минимальная длина пароля</em>
                      <% end %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Подтверждение пароля" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control'%>
                    </div>
                    <div class="form-group">
                      <%= f.label "Текущий пароль" %> <i>(Нам нужен ваш текущий пароль, чтобы подтвердить введенные изменения)</i><br />
                      <%= f.password_field :current_password, autocomplete: "current-password" , class: 'form-control'%>
                    </div>
                    <div class="actions">
                      <%= f.submit "Обновить", class: "btn btn-success btn-block btn-lg" %>
                      </div>
                    <% end %>
                    <h3>Cancel my account</h3>
                   <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: "btn btn-danger btn-block btn-lg" %></p>
                   <br>
                    <%= link_to "Назад", :back, class: "btn btn-primary btn-lg" %>
                    <br>
                    <br>
                </div>   
                <div class="col-sm-6">
                  <div class="container">
                    <div class="security" width="200px" heigth="200px">
                    </div>
                  </div
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>