<div style="background-image: none;" class="of_about_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ch_heading_wrapper">
          <h1 style="color: black">Мы рады, что вы выбрали нас!</h1>
        </div>
      </div>
      <div styclass="about_section">
        <div class="container">
          <div class="container">
                      <div class="row">
            <div class="container">
              <h2 style="color: black;">Регистрация нового пользователя</h2>  
            </div>
            <div class="col-md-6">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group">
                  <%= f.label :name %><br />
                  <%= f.password_field :name, autocomplete: "Ваше имя", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.password_field :last_name, autocomplete: "Ваша фамилия", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
                </div>

                <div class="actions form-group">
                  <%= f.submit "Sign up", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <img style="margin: 0 auto;" src="<%= image_url('attendance-clipart-time-card-6.png')%>" width="300px" height="300px">
            </div>
          </div>
          <div class="row">
            <div class="container">
              <%= render "devise/shared/links" %>
            </div>    
          </div>     
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>