<br>
<div class="btn-group" role="group" aria-label="Basic example">
	<% if controller_name != 'sessions' %>
		<a href="<%= new_session_path(resource_name) %>">
			<button type="button" class="btn btn-outline-primary">Войти</button>
		</a>
	<% end %>

	<% if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <a href="<%= new_registration_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Регистрация</button>
    </a>
	<% end %>
    
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		<a href="<%= new_password_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Забыли пароль?</button>
    </a>
	<% end %>
    	
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  	<a href="<%= new_confirmation_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Не получили письмо подтверждения?</button>
    </a>
	<% end %>
    
  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  	<a href="<%= new_unlock_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Не получили инструкции по разблокировке?</button>
    </a>
	<% end %>
    
  <% if devise_mapping.omniauthable? %>
	  <% resource_class.omniauth_providers.each do |provider| %>
	  	<a href="<% omniauth_authorize_path(resource_name, provider)%>">
	    	<button type="button" class="btn btn-outline-primary">Войти через Facebook </button>
	    </a>
	  <% end %>
	<% end %>	
</div>
<br>
