  <div class="of_about_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="ch_heading_wrapper">
            <h1>Добро пожалоать к нам!</h1>
          </div>
        </div>
        <div class="about_section">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about_img">
              <img src=" <%= image_url('tel.png') %>" alt="Fuck" width="300px"  height="500px" class="img-responsive">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about_content">
              <p>Согласно СМИ некоторым историческим данным, первые такси-колесницы существовали в Древнем Риме. На оси колесницы был закреплен «таксометр», представлявший из себя обычный таз, в который после каждой стадии (примерно 200 метров) падал камешек. Оплата производилась по числу камешков, оказавшихся в тазу в конце поездки.</p>
              <p>Мы представляем новый и удобный формат такси</p>
              <div class="of_btn_wrapper">
                <a href="#" class="of_btn">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="of_categories_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="ch_heading_wrapper">
            <h1 style="color: black;">В наличии много машин</h1>
          </div>
        </div>
        <div class="of_categories">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('merz.png') %>" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>Audi A5</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('merz2.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>Mersedes Benz s500</h3>
                <p style="color: rgba(255, 0, 0, 0);">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('bmw.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>BMW e3</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('bmw2.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>fruits</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="of_why_choose_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="ch_heading_wrapper">
            <h1 style="color: black;">Почему стоит выбрать нас</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="ehy_choose_img">
            <img src="<%= image_url('man.png') %>" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="why_choose">
            <ul>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-tree-leaf"></span>
                </div>
                <div class="choose_detail">
                  <h2>Надёжная система авторизации и хранения данных</h2>
                  <p>Ваши данные шифруются мощным алгоритмом bycrypt поэтому можно забыть о страхе поерять личные данные с сайта. Система аутентификации не позволит кому либо кроме вас заказывать такси с привязанной карты</p>
                </div>
              </li>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-check-mark"></span>
                </div>
                <div class="choose_detail">
                  <h2>Удобство использования</h2>
                  <p>Имея учётную запись нашего сервиса вы можете легко и быстро заказать такси в любую точку города Минска, всего лишь в пару кликов, указав нпару моментов.</p>
                </div>
              </li>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-truck"></span>
                </div>
                <div class="choose_detail">
                  <h2>Простота и понятноть</h2>
                  <p>Слова излишни, просто попробуйте.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="of_fresh_food_wrapper">
    <div class="container-fluid">
    </div>
  </div>
  <div class="of_testimonial_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="ch_heading_wrapper">
            <h1>Что говорят клиенты?</h1>
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
          <div class="testimonial_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('pasha.jpg') %>" alt="">
                      <h3>Паша Блинец</h3>
                      <p>20.09.2017</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>Супер Пупер Сервис просто всем советую, удобно, быстро, честно.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('pMg3_dz20IE.jpg') %>" alt="">
                      <h3>Коленда Валерий</h3>
                      <p>01.02.2019</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-4 col-xs-12">
                    <div class="testimonial_detail">
                      <p>НЕТ СЛОВ!!! ДОЕХАЛ БЫСТРО УДОБНО И КРАСИВО, ГОСПОДЕБОЖЕ, КАК ЖЕ КРУТО</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('aartem.jpg') %>" alt="">
                      <h3>Королёв Артём</h3>
                      <p>26.05.2016</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('ThF9Ee_DWeA.jpg') %>" alt="">
                      <h3>Куди Сергей</h3>
                      <p>Вчера</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="./images/tima.jpg" alt="">
                      <h3>Андронович Тимофей</h3>
                      <p>Сегодня</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>