  <div class="of_about_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="ch_heading_wrapper">
            <h1>Добро пожалоать к нам!</h1>
          </div>
        </div>
        <div class="about_section">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about_img">
              <img src=" <%= image_url('tel.png') %>" alt="Fuck" width="300px"  height="500px" class="img-responsive">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about_content">
              <p>It is a long established fact that a reader will be distracted by the readable contentof a page when looking at its layout. The point of using Lorem Ipsum is that thas a more-or-less normal distribution.</p>
              <p>It is a long established fact that a reader will be distracted by the readable contentof a page when looking at its layout. The point of using Lorem Ipsum is that t
                has a more-or-less normal distribution.It is a long established fact that a reader will be distracted by the readable contentof a page when looking at its layout. The point of using Lorem Ipsum is that t
                has a more-or-less normal distribution.</p>
              <div class="of_btn_wrapper">
                <a href="#" class="of_btn">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--about end-->
  <!--categories start-->
  <div class="of_categories_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="ch_heading_wrapper">
            <h1 style="color: black;">В наличии много машин</h1>
          </div>
        </div>
        <div class="of_categories">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('merz.png') %>" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>Audi A5</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('merz2.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>Mersedes Benz s500</h3>
                <p style="color: rgba(255, 0, 0, 0);">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('bmw.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>BMW e3</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="categories_section">
              <div class="categories_img">
                <img src="<%= image_url('bmw2.png') %>" width="263px" height="175px" alt="" class="img-responsive">
              </div>
              <div class="categories_detail">
                <h3>fruits</h3>
                <p style="color: #ff9300;">New</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="of_why_choose_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="ch_heading_wrapper">
            <h1 style="color: black;">Почему стоит выбрать нас</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="ehy_choose_img">
            <img src="<%= image_url('man.png') %>" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="why_choose">
            <ul>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-tree-leaf"></span>
                </div>
                <div class="choose_detail">
                  <h2>Надёжная система авторизации и хранения данных</h2>
                  <p>Ваши данные шифруются мощным алгоритмом bycrypt поэтому можно забыть о страхе поерять личные данные с сайта. Система аутентификации не позволит кому либо кроме вас заказывать такси с привязанной карты</p>
                </div>
              </li>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-check-mark"></span>
                </div>
                <div class="choose_detail">
                  <h2>Удобство использования</h2>
                  <p>Имея учётную запись нашего сервиса вы можете легко и быстро заказать такси в любую точку города Минска, всего лишь в пару кликов, указав нпару моментов.</p>
                </div>
              </li>
              <li>
                <div class="choose_icon">
                  <span class="flaticon-truck"></span>
                </div>
                <div class="choose_detail">
                  <h2>Простота и понятноть</h2>
                  <p>Слова излишни, просто попробуйте.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--why choose end-->
  <!--fresh food start-->
  <div class="of_fresh_food_wrapper">
    <div class="container-fluid">
    </div>
  </div>
  <!--fresh food end-->
  <!--featured start-->
<!--   <div class="of_featured_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="ch_heading_wrapper">
            <h1>featured products</h1>
          </div>
        </div>
        <div class="of_featured">.
          <div class="controls">
            <button type="button" class="control" data-filter="all">All</button>
            <button type="button" class="control" data-filter=".fruits">fruits</button>
            <button type="button" class="control" data-filter=".vegetable">vegetable</button>
            <button type="button" class="control" data-filter=".meat">meat</button>
            <button type="button" class="control" data-filter=".milk">milk</button>
          </div>
          <div class="feature">
            <div class="mix fruits">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="">
                  </div>
                  <h3>watermelon</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix vegetable">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>cucumber</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix meat">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>bistec carne</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix milk">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>greek feta cheese</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix fruits">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>grapes</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix vegetable">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>onion</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix meat">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>butcherbox</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix milk">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_section text-center">
                  <div class="feature_img">
                    <img src="http://via.placeholder.com/150x110" alt="" >
                  </div>
                  <h3>soft cheese</h3>
                  <h4>$35/kg<span>$38/kg</span></h4>
                  <div class="of_btn_wrapper">
                    <a href="cart.html" class="of_btn">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--featured end-->
  <!--testimonial start-->
  <div class="of_testimonial_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="ch_heading_wrapper">
            <h1>Что говорят клиенты?</h1>
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
          <div class="testimonial_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('pasha.jpg') %>" alt="">
                      <h3>Паша Блинец</h3>
                      <p>20.09.2017</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>Супер Пупер Сервис просто всем советую, удобно, быстро, честно.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('pMg3_dz20IE.jpg') %>" alt="">
                      <h3>Коленда Валерий</h3>
                      <p>01.02.2019</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-4 col-xs-12">
                    <div class="testimonial_detail">
                      <p>НЕТ СЛОВ!!! ДОЕХАЛ БЫСТРО УДОБНО И КРАСИВО, ГОСПОДЕБОЖЕ, КАК ЖЕ КРУТО</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('aartem.jpg') %>" alt="">
                      <h3>Королёв Артём</h3>
                      <p>26.05.2016</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="<%= image_url('ThF9Ee_DWeA.jpg') %>" alt="">
                      <h3>Куди Сергей</h3>
                      <p>Вчера</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial_section">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="testimonial_img">
                      <img src="./images/tima.jpg" alt="">
                      <h3>Андронович Тимофей</h3>
                      <p>Сегодня</p>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="testimonial_detail">
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>