<!DOCTYPE html>
<html>
  <head>
    <title>MaketRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&libraries=geometry,places'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for(:head_tags) %>
  </head>
  <body>
    <div class="of_main_wrapper">
      <div class="of_header_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
              <div class="of_logo">
                <a href="<%= pages_index_path %>"><img src="<%= image_url('main_logo.png')%>" width="35%" height="35%" alt=""></a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-2 col-xs-2">
              <a class="btn btn-info hidden visible-sm visible-xs" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars" aria-hidden="true"></i></a>
              <div class="of_menu">
                <ul>
                  <li><a href="<%= pages_index_path %>">Домой</a></li>
                  <li><a href="<%= pages_contact_path %>">Связаться</a></li>
                  <% if !user_signed_in? %>
                    <li><%= link_to 'Регистрация', new_user_registration_path %></li>
                    <li><a href="<%= new_user_session_path %>">Войти</a></li>
                    <li><a href="<%= user_facebook_omniauth_authorize_path %>">Facebook</a></li>
                  <% else %>
                    <li><a href="<%= trips_path %>">Заказы</a></li> 
                    <li><%= link_to 'Личный кабинет', edit_user_registration_path %></li>
                    <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
                  <% end %>
                  <% if user_signed_in?%>
                    <% if current_user.image %>
                      <li><a href="<% edit_user_registration_path %>"><img src="<%= image_url(current_user.image) %>" style="border-radius: 50%;"></a></li>
                    <% else %>
                      <li><a href="<% edit_user_registration_path%>"><img src="<%= image_url('nophoto.png') %>" width="40px" height="40px" style="border-radius: 50%;"></a></li>
                    <% end %>
                  <% end %>
                </ul>
                <input type="text" name="search" placeholder="Search" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
      <div class="of_footer_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="widget widget_about">
                <div class="footer_section">
                  <div class="footer_logo">
                    <img src="<%= image_url('logo.png') %>" alt="">
                  </div>
                  <p>Заказывайте такси проще, чем когда-либо</p>
                  <p>follow us in social and help us build new taxi age.</p>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="widget widget_product">
                <div class="ch_heading_wrapper">
                  <h1>our products</h1>
                </div>
                <ul>
                  <li>
                    <div class="footer_section">
                      <p><a href="#">meat</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p><a href="#">vegetable</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p><a href="#">fruits</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p><a href="#">dairy products</a></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="widget widget_info">
                <div class="ch_heading_wrapper">
                  <h1>information</h1>
                </div>
                <ul>
                  <li>
                    <div class="footer_section">
                      <p>return</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p>delivery</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p>services</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <p>gift cards</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="widget widget_contact">
                <div class="ch_heading_wrapper">
                  <h1>get in touch</h1>
                </div>
                <ul>
                  <li>
                    <div class="footer_section">
                      <a href="https://vk.com/id91206722">
                        <img src="<%= image_url('vk.png') %>">
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <a href="https://www.facebook.com/">
                        <img src="<%= image_url('facebook.png') %>">
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="footer_section">
                      <a href="https://instagram.com">
                         <img src="<%= image_url('insta.png') %>">
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="of_copyright_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <p>Copyrights © 2019 All Rights Reserved by Dmitriy Shamritskiy</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="links">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>