<!DOCTYPE html>
<html>
  <head>
    <title>TestTaxi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.credentials.google_maps_api_key %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>
    <body style="background-color: #64adc3;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% unless current_user %>
              <%= link_to "with Facebook", user_facebook_omniauth_authorize_path %>
              <%= link_to "with Our Site", new_user_session_path %>
            <% else %>
              <%= current_user[:name] || current_user[:email] %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_facebook_omniauth_authorize_path %>" tabindex="-1" aria-disabled="true">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>" tabindex="-1" aria-disabled="true">Site</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    	<%= yield %>
  </body>
</html>
